@import url("https://fonts.googleapis.com/css2?family=Abyssinica+SIL&display=swap");
body {
  overflow-x: hidden;
  background-color: rgba(7, 8, 13, 1);
  background-image: url(assets/bg.jpg);
  background-blend-mode: 80%;
  outline: none;
  height: 100vh;
  margin: 0;
  /* position: relative; */
  font-family: "Abyssinica SIL", serif;
  border: none;
  background-repeat: repeat;
  margin-right: 1em;
}
#sider {
  width: 15%;
  height: 100vh;
  position: fixed;
  padding-left: 2em;
  padding-top: 2em;
  text-align: end;
  padding-right: 1em;
  /* border-right: 10px double rgb(230, 194, 41); */
  top: 0px;
  min-width: 15%;
  color: rgb(0, 16, 33);
}
#header {
  left: 18%;
  position: absolute;
  padding-left: 4em;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  /* border-bottom: 10px double rgb(230, 194, 41); */
  margin-left: 0.3em;
  padding-bottom: 1em;
  text-align: center;
  /* border-left: 10px double rgb(230, 194, 41); */
  margin-top: 2em;
  margin-bottom: 3em;
}
#footer {
  height: 10%;
  width: 100%;
  position: absolute;
  margin-top: 4em;
  /* border-top: 10px double rgb(230, 194, 41); */
  padding-right: -4em;
  /* border-left: 10px double rgb(230, 194, 41); */
}
#main {
  left: 18%;
  position: relative;
  width: 70%;
  height: 70%;
  top: 20em;
  /* padding-left: 4em; */
  border-top: 10px double rgb(230, 194, 41);
  border-bottom: 10px double rgb(230, 194, 41);
  margin-left: 0.3em;
  border-left: 10px double rgb(230, 194, 41);
  padding: 2em;
}
#photo {
  width: 7em;
  height: 7em;
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  object-fit: cover;
  border: 2px solid rgb(0, 38, 66);
  transition: 1s;
}
#photo:hover {
  transform: scale(1.5);
  border-radius: 0;
  transition: 1s;
  margin-bottom: 2em;
}
li {
  margin-bottom: 0.5em;
  list-style: none;
  margin-left: -3em;
}
#header-left {
  /* background-color: rgba(230, 194, 41, 0.9); */
  border-radius: 1em 3em 1em 3em;
  background-image: linear-gradient(170grad, white, rgb(230, 194, 41));
  width: 20%;
  padding-left: 1em;
  margin-right: 2em;
  transition: 500ms;
  min-height: 10em;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);
}
#header-right {
  /* background-color: rgba(230, 194, 41, 0.9); */
  border-radius: 1em 3em 1em 3em;
  background-image: linear-gradient(170grad, white, rgb(230, 194, 41));
  padding: 1em;
  margin-top: 1em;
  width: 30%;
  transition: 500ms;
  min-height: 10em;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);
}
#header-rightest {
  /* background-color: rgba(230, 194, 41, 0.9); */
  border-radius: 1em 3em 1em 3em;
  background-image: linear-gradient(170grad, white, rgb(230, 194, 41));
  padding: 1em;
  margin: 3em 0 0 2em;
  width: 30%;
  transition: 500ms;
  min-height: 10em;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);
}
#education {
  display: flex;
  justify-content: space-between;
}
.education {
  display: flex;
  align-items: center;
  width: auto;
  height: auto;
  background-image: linear-gradient(340grad, white, rgb(230, 194, 41));
  border-radius: 1em 2em 1em 2em;
  padding-left: 1em;
  padding-right: 1em;
  margin-right: 1em;
  justify-content: space-between;
  margin-left: 3em;
  border: 1px solid rgb(0, 38, 66);
  transition: 500ms;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);
}
.education p {
  margin-left: 2em;
  padding-left: 1em;
}

#edbg {
  text-align: center;
  padding-bottom: 1em;
}
#profession {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  padding: 10px;
  column-gap: 1em;
  row-gap: 2em;
  grid-area: auto;
  width: 100%;
}
.profession {
  padding: 1em;
  padding-right: 2em;
  background-color: rgba(158, 197, 171, 0);
  border-left: 1px solid rgb(230, 194, 41);
  /* border: 1px solid rgb(85, 40, 111); */
  /* border-radius: 2em 2em; */
  transition: 500ms;
  color: rgb(230, 194, 41);
  /* -webkit-text-stroke: 0.15px black; */
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);
  text-shadow: 1px 1px rgba(0, 0, 0, 0.5);
}
.topgrid {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 1.1em;
  font-weight: 700;
}
.profession p {
  text-align: center;
  color: rgb(227, 216, 136);
}
.year {
  width: 10em;
  font-size: 1.1em;
  background-image: linear-gradient(340grad, white, rgb(230, 194, 41));
  border-radius: 3em 3em;
  text-align: center;
  line-height: 1em;
  border: 1px solid beige;
}
.year p {
  color: rgb(0, 38, 66);
}

.profession h3 {
  padding-left: 1em;
  padding-right: 1em;
}

#prbg {
  text-align: center;
  padding-bottom: 0.8em;
  padding-top: 1em;
}
#footer h2 {
  text-align: center;
  font-size: 1.5em;
}
#names {
  display: flex;
  justify-content: space-around;
  margin-bottom: 3em;
}
.refs {
  /* background-color: rgba(230, 194, 41, 0.9); */
  background-image: linear-gradient(340grad, white, rgb(230, 194, 41));
  width: 15em;
  text-align: center;
  border-radius: 1em 3em 1em 3em;
  font-weight: 700;
  border: 1px solid rgb(0, 38, 66);
  transition: 500ms;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);
}
i {
  padding: 0 10px;
}

#sider p {
  font-size: 1.2em;
}

.lileft {
  text-align: start;
  margin-top: 0.3em;
}
.liright {
  text-align: end;
  margin-right: 1em;
  margin-top: 0.3em;
}

h1,
h2,
h3,
p,
li {
  user-select: none;
}

#header-left:hover,
#header-right:hover,
#header-rightest:hover,
.education:hover,
.refs:hover {
  transform: scale(1.1);
  transition: 500ms;
}

.profession:hover {
  transform: scale(1.05);
  transition: 500ms;
}

h2 {
  color: rgb(227, 216, 136);
  text-shadow: 1px 1px rgb(0, 16, 33);
}

#header-left h2 {
  color: black;
  text-shadow: none;
}

h1 {
  text-align: center;

  background: linear-gradient(
    to right,
    #002642 20%,
    #e6c229 40%,
    #e6c229 60%,
    #002642 80%
  );
  background-size: 200% auto;

  color: #000;
  background-clip: text;
  color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  animation: shine 3s linear infinite;
}
@keyframes shine {
  to {
    background-position: 200% center;
  }
}
#st1:hover i {
  transform: rotate3d(1, 1, 1, 360deg);
  transition: 1s;
}
#nd2:hover i {
  transform: rotate3d(1, 1, 1, 360deg);
  transition: 1s;
}
#rd3:hover i {
  transform: rotate3d(1, 1, 1, 360deg);
  transition: 1s;
}
#th4:hover i {
  transform: rotate3d(1, 1, 1, 360deg);
  transition: 1s;
}
#th5:hover i {
  transform: rotate3d(1, 1, 1, 360deg);
  transition: 1s;
}
